.box1{
    position: relative;
    left: 650px;
    top: 50px;
    border-top:4px solid hsl(0,78%,62%);
}

.box2{
    position: relative;
    left: 220px;
    bottom: 170px;
    border-top:4px solid hsl(180,62%,55%);
}

.box3{
    position: relative;
    left: 1080px;
    bottom: 500px;
    border-top:4px solid hsl(212,86%,64%);
}

.box4{
    position: relative;
    left: 650px;
    bottom: 650px;
    border-top:4px solid hsl(34,97%,64%);
}
